In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/dataset.csv")

In [3]:
# some rows don't have click
df_no_click = df.sample(300)
df_click = df[~df["ImpressionID"].isin(df_no_click["ImpressionID"])]
df_no_click[["ClickID","ClickPosition","ClickCost"]] = None
df = pd.concat([df_click,df_no_click], axis=0)

/tmp/ipykernel_6635/1972901166.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df_click,df_no_click], axis=0)

In [10]:
df["ImpressionID"] = df["ImpressionID"].astype("str").str.replace('imp', '').astype("int")
df["UserID"] = df["UserID"].astype("str").str.replace('user', '').astype("int")
df["SessionID"] = df["SessionID"].astype("str").str.replace('sess', '').astype("int")
df["AdID"] = df["AdID"].astype("str").str.replace('ad', '').astype("int")

In [11]:
df.head()

,ImpressionID,UserID,SessionID,AdID,AdCategory,Timestamp,Device,OS,Browser,Location,PageID,Referrer,ImpressionCost,ClickID,ClickPosition,ClickCost
0,0,94,134,36,Services,2023-01-15 14:24:02,Mobile,macOS,Firefox,Germany,page25,Google,1.192770,0,Popup,0.801100
5,5,15,135,48,Apparel,2023-01-21 04:28:40,Tablet,macOS,Firefox,China,page40,Twitter,0.021859,5,Sidebar,1.458645
6,6,70,80,22,Education,2023-11-06 11:08:04,Mobile,Linux,Edge,India,page83,Twitter,1.344161,6,Header,1.284740
11,11,27,112,37,Services,2023-11-15 19:52:45,Desktop,macOS,Safari,Germany,page33,Twitter,0.644350,11,Sidebar,0.707757
14,14,52,142,24,Entertainment,2023-09-23 06:04:22,Tablet,Windows,Opera,Australia,page77,Google,0.567404,14,Footer,0.717857

In [12]:
df_impression = df[["ImpressionID","UserID","SessionID", "AdID","AdCategory","Device","OS", "Browser", "Location", "PageID","Referrer","ImpressionCost"]]
df_click = df[["ImpressionID","ClickID","ClickPosition", "ClickCost"]]
df_click = df_click.dropna(subset=["ImpressionID","ClickID","ClickPosition","ClickCost"])

In [13]:
df_impression.to_csv("data/impression.csv")
df_click.to_csv("data/click.csv")